

@font-face {
    font-family: 'Freckle Face';
    src: url('./fonts/FreckleFace-Regular.ttf') format('woff2');
    font-display: swap;
}




html, body{
    overflow-x: hidden;
    
}

html::-webkit-scrollbar {
    width: 8px;
    
}

html::-webkit-scrollbar-track {
    background: #ffffff;
    
}

html::-webkit-scrollbar-thumb {
    background: #e756dd;
    border-radius: 6px;
}


body {
    background: linear-gradient(to right, #1b1f35, #7b2cbf, #d5006d);
    cursor: url('images/souris.png'), auto; 
    
}

a, button, #scrollToTop {
    cursor: url('images/main_2.png'), auto;
    transition: opacity 0.3s ease;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent; /* Rend le header transparent par défaut */
}

input, textarea {
    color: #000; /* Noir ou une autre couleur contrastante */
    background-color: rgba(255, 255, 255, 0.9); /* Contraste avec le texte */
}



#logo, #logo h2, #logo p {
    font-family: 'Freckle Face', sans-serif;
    position: relative;
    z-index: 20;
    opacity: 1 !important;
    visibility: visible !important;
    display: block !important;
    /* Définition uniforme de la couleur */
    color: #FFD700 !important; /* Code hexadécimal pour "gold" */
    -webkit-text-fill-color: #FFD700 !important;
    font-variation-settings: "EDPT" 100, "EHLT" 12;
}


#logo h2 {
    margin-bottom: 0;
    line-height: 1.2;
    font-size: clamp(1.2rem, 3vw, 2rem);
    font-weight: normal;
}

#logo p {
    margin-top: 0;
    line-height: 1.2;
    font-size: clamp(0.6rem, 1.5vw, 0.8rem);
}

/* Support Windows */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    #logo ,#logo h2, #logo p {
        /* Forcer la couleur sur iOS */
        color: #FFD700 !important;
        -webkit-text-fill-color: #FFD700 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

/* Support iOS */
@supports (-webkit-touch-callout: none) {
    #logo h2, #logo p {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

/* Support général pour les navigateurs modernes */
@supports (background: paint(something)) {
    #logo h2, #logo p {
        color: gold !important;
        -webkit-text-fill-color: gold !important;
        font-variation-settings: 'EDPT' 100, 'EHLT' 12;
        font-palette: --Nabla-palettes-default;
    }
}


#mobile-navbar {
    transition: all 0.3s ease; /* Animation d'ouverture/fermeture */
}

#mobile-navbar.open {
    position: absolute; /* Pour pouvoir le positionner précisément */
    top: 50px;             /* Aligne avec le haut */
    right: 10px;           /* Place à droite */
    background: rgba(0, 0, 0, 0.9); /* Fond sombre pour le menu */
    padding: 10px;      /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    display: flex;      /* Organisation flexible */
    flex-direction: row; /* Menu en ligne */
    justify-content: space-around; /* Espacement équilibré */
    z-index: 100;       /* Au-dessus des autres éléments */
  }
  
  #menu-toggle {
    position: absolute;
    top: 10px;          /* Positionne légèrement en dessous */
    right: 20px;        /* Place à droite */
    z-index: 110;       /* Juste au-dessus du menu */
  }

  
  

#container {
    width: 100%; /* S'assure que le conteneur occupe toute la largeur */
    height: 500px; /* Définissez une hauteur explicite */
    position: absolute; /* Assurez-vous qu'il a une position relative pour bien gérer les enfants */
    top: 0;
}

#scene-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}





#horizontal-scroll-container {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100vh;
    width: 100vw;
    padding-left: 30vw;
    padding-right: 20vw;
    perspective: 1200px; /* Profondeur de la perspective */
    overflow-x: scroll; /* Empêche le scroll horizontal */
    
    
}



#horizontal-scroll-container::-webkit-scrollbar{
    width: 8px;
    height: 6px;
}



#horizontal-scroll-container::-webkit-scrollbar-thumb{
    background: #e756dd;
    width: 2px;
    border-radius: 6px;
}





section {
    justify-content: space-between;
    flex: 0 0 40vw;  /* Largeur de chaque section */
    width: 40vw;
    min-width: 40vw;
    height: 60vh;
    margin-left: auto;
    margin: 0 10vw;  /* Espacement entre les sections */
    background: lightgray;
    overflow-y: auto;
    padding: 1rem;
    box-sizing: border-box;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    cursor: url('images/main_2.png'), auto;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    
}

section, #qui-sommes-nous, #nos-services, #nous-contacter {

    margin-right: 30vw;
}

section:hover {
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.15);
    z-index: 10;
}








@media (max-width: 1024px){
    #welcome {
        margin-top: 200px;
        margin-left: 30%;
        font-size: 100%;
        width: 40%;
        
    }

    #mobile-navbar{
        top: 30px;
        width: 40%;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        right: 10px;


    }

    #mobile-navbar ul {
        flex-direction: column; /* Organiser les éléments du menu en colonne */
        padding: 0; /* Retirer le padding inutile */
        width: 100%; /* S'assurer que l'élément prend toute la largeur disponible */
        
    }

    #mobile-navbar ul li {
        margin-bottom: 10px; /* Ajouter un espacement entre les éléments du menu */
        font-size: 0.5rem;
        margin-left: 10px;
        
    }


    section {
        flex: 0 0 70vw;
        width: 70vw;
        min-width: 70vw;
        max-height: 40vh;
    }

    
}


@media (max-width: 768px){



    #welcome {
        margin-top: 100px;
        margin-left: 30%;
        font-size: 150%;
        width: 40%;
        
    }

    #mobile-navbar {
        /* Passer à une disposition verticale pour les petits écrans */
        flex-direction: column;
        align-items: center; /* Centrer les éléments */
        padding: 20px; /* Augmenter l'espacement interne pour aérer le contenu */
        top: 30px; /* Aligner avec le bouton du menu */
        right: 10px;
        width: 60%; /* Réduire la largeur pour plus d'espace */
        
        
    }

    #mobile-navbar ul {
        flex-direction: column; /* Organiser les éléments du menu en colonne */
        padding: 0; /* Retirer le padding inutile */
        width: 100%; /* S'assurer que l'élément prend toute la largeur disponible */
        
    }

    #mobile-navbar ul li {
        margin-bottom: 10px; /* Ajouter un espacement entre les éléments du menu */
        padding: 0 ;
        font-size: 0.5rem;
    }

    #menu-toggle {
        /* Ajuster le bouton du menu pour les petits écrans */
        top: 15px;
        right: 20px;
    }

    /* Réduire la taille du logo pour les petits écrans */
    #logo {
        transform: scale(0.9);
        margin-left: 0.5rem;
        height: 40px; /* Taille plus petite pour s'adapter à l'écran */
        -webkit-transform: scale(0.9);
        
    }

    #logo h2 {
        font-size: clamp(1.2rem, 3vw, 1.8rem);
        white-space: nowrap; /* Empêche le retour à la ligne */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    #logo p {
        font-size: clamp(0.6rem, 1.5vw, 0.8rem);
        white-space: nowrap;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    

    .background-image{
        top: 40%;
    }

    section {
        flex: 0 0 75vw;
        width: 75vw;
        min-width: 75vw;
        max-height: 50vh;
        padding: 0.75rem;
    }

    section h2{
        font-size: 1.1rem !important;
    }

    section h3{
        font-size: 0.9rem !important;
    }

    section p{
        font-size: 0.75rem !important;
    }

    section .sub-service img{
        width: 2rem !important;
        height: 2rem !important;
        
    }

    section .sub-service p {
        font-size: 0.5rem;
    }

}


section h2{
    font-size: 1.5rem !important;
    margin-bottom: 0.75rem !important;
}

section h3{
    font-size: 1.1rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

section p{
    font-size: 0.85rem !important;
    line-height: 1.3 !important;
    margin-bottom: 0.5rem !important;
}

section ul{
    font-size: 0.85rem !important;
    margin-top: 0.5rem !important;
}
 section li{
    margin-bottom: 0.4rem !important;
 }

/* Styliser la barre de défilement pour les sections */
section::-webkit-scrollbar {
    width: 8px;
}

section::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1);
}

section::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}











@media (max-width: 375px) {
    #welcome {
        margin-top: 160px;
        margin-left: 25%;
        font-size: 20%;
        width: 40%;
    }
}





/* Media query pour les très petits écrans (max-width: 480px) */
@media (max-width: 480px) {

    #logo {
        transform: scale(0.8);
        -webkit-transform: scale(0.8);
    }

    #logo h2 {
        font-size: clamp(1rem, 2.5vw, 1.5rem);

    }

    #logo p {
        font-size: clamp(0.5rem, 1.2vw, 0.7rem);
    }


    .background-image{
        top: -5vh;  
    }

    

    #mobile-navbar {
        width: 40%; /* Augmenter légèrement la largeur du navbar pour plus de confort */
        top: 40px; /* Ajuster la position pour bien aligner le navbar avec le menu */
    }

    #mobile-navbar ul li {
        font-size: 0.5rem; /* Réduire la taille de la police des éléments de menu */
        text-align: center; /* Centrer les éléments */
    }

    /* Ajustement pour améliorer l'apparence générale */
    #menu-toggle {
        top: 10px;
        right: 15px;
    }

    /* Redimensionner le logo encore plus petit */
    #logo {
        height: 35px;
    }


    
}

/* Force l'affichage sur iOS */
@supports (-webkit-touch-callout: none) {
    #logo, #logo h2, #logo p {
        display: block !important;
        visibility: visible !important;
        opacity: 1 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}





.sub-service {
    display: none; /* Cacher par défaut */
}
.service:hover .sub-service {
    display: flex; /* Afficher au survol avec flex pour l'alignement en ligne */
}
.sub-service div {
    margin-right: 1rem; /* Marge entre les éléments de sous-service */
    padding: 0.5rem; /* Ajout d'un peu de padding pour le visuel */
    background: rgba(255, 255, 255, 0.2); /* Fond transparent */
    border-radius: 5px; /* Coins arrondis */
}

#confirmation-message p {
    margin-top: 10px;
}

#paper-plane {
    opacity: 0;
    transform: translateY(-20px); /* Position initiale pour l’animation */
}





.background-image {
  width: 120%; /* Largeur étendue à 120% de la fenêtre */
  height: 100vh; /* Hauteur étendue à 120% de la fenêtre */
  position: relative; /* Permet de sortir du flux normal */
  margin-top: 0;
  top: -20vh; /* Ajuste la position pour centrer */
  left: -10vw; /* Ajuste la position pour centrer */
  background-size: cover; /* Couvre l’espace défini */
  background-position: center; /* Centre l’image */
  background-repeat: no-repeat; /* Évite les répétitions */
  z-index: -1; /* Place l’arrière-plan derrière l’écran */
  

}






@media (max-width: 1978px){
    .background-image{
        top: -5vh;
        padding-top: 60vh;
    }
}

@media (max-width: 1280px){
    .background-image{
        top: -8vh;
    }
    

    
}