html, body{
    overflow-x: hidden;
}


body {
    background: linear-gradient(to right, #1b1f35, #7b2cbf, #d5006d);
    cursor: url('images/icons8-rocket-48.png'), auto; 
}

a, button, #scrollToTop {
    cursor: url('images/icons8-rocket-30.png'), auto;
    transition: opacity 0.3s ease;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent; /* Rend le header transparent par défaut */
}

#mobile-navbar {
    transition: all 0.3s ease; /* Animation d'ouverture/fermeture */
}

#mobile-navbar.open {
    position: absolute; /* Pour pouvoir le positionner précisément */
    top: 50px;             /* Aligne avec le haut */
    right: 10px;           /* Place à droite */
    background: rgba(0, 0, 0, 0.9); /* Fond sombre pour le menu */
    padding: 10px;      /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    display: flex;      /* Organisation flexible */
    flex-direction: row; /* Menu en ligne */
    justify-content: space-around; /* Espacement équilibré */
    z-index: 100;       /* Au-dessus des autres éléments */
  }
  
  #menu-toggle {
    position: absolute;
    top: 10px;          /* Positionne légèrement en dessous */
    right: 20px;        /* Place à droite */
    z-index: 110;       /* Juste au-dessus du menu */
  }
  

#container {
    width: 100%; /* S'assure que le conteneur occupe toute la largeur */
    height: 500px; /* Définissez une hauteur explicite */
    position: absolute; /* Assurez-vous qu'il a une position relative pour bien gérer les enfants */
    top: 0;
}

#scene-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}







.sub-service {
    display: none; /* Cacher par défaut */
}
.service:hover .sub-service {
    display: flex; /* Afficher au survol avec flex pour l'alignement en ligne */
}
.sub-service div {
    margin-right: 1rem; /* Marge entre les éléments de sous-service */
    padding: 0.5rem; /* Ajout d'un peu de padding pour le visuel */
    background: rgba(255, 255, 255, 0.2); /* Fond transparent */
    border-radius: 5px; /* Coins arrondis */
}

#confirmation-message p {
    margin-top: 10px;
}

#paper-plane {
    opacity: 0;
    transform: translateY(-20px); /* Position initiale pour l’animation */
}





.background-image {
  width: 120%; /* Largeur étendue à 120% de la fenêtre */
  height: 100vh; /* Hauteur étendue à 120% de la fenêtre */
  position: relative; /* Permet de sortir du flux normal */
  margin-top: 0;
  top: -20vh; /* Ajuste la position pour centrer */
  left: -10vw; /* Ajuste la position pour centrer */
  background-size: cover; /* Couvre l’espace défini */
  background-position: center; /* Centre l’image */
  background-repeat: no-repeat; /* Évite les répétitions */
  z-index: -1; /* Place l’arrière-plan derrière l’écran */
  

}


@media (max-width: 480px){
    .background-image{
        top: -5vh;
        
        
        
    }

}

@media (max-width: 768px){
    .background-image{
        top: 40%;
    }
}

@media (max-width: 1978px){
    .background-image{
        top: -5vh;
        padding-top: 60vh;
    }
}

@media (max-width: 1280px){
    .background-image{
        top: -8vh;
    }
}